html {
  font-family: 'Teko', sans-serif;
  /*text-transform: uppercase;*/
}
.section{
  min-height: 100vh;
  position: relative;
  overflow: hidden;

}
a {
  color:white;
}

h1{
  position: relative;
  top: 10%;
  text-align: center;
  text-transform: uppercase;
  //color: #fff;
  font-size: 5rem;
  letter-spacing: 8px;
  margin: 0;
  font-weight: 400;
}

h2{
  position: relative;
  top: 10%;
  text-align: center;
  text-transform: uppercase;
  //color: #fff;
  font-size: 3rem;
  letter-spacing: 8px;
  margin: 0;
  font-weight: 400;
}

.section-one{
  background: #222;
  color: #ddd;
}
.section-two{
  background: #3f51b5;
  color: #ff5252;
}
.section-three{
  background: #7D110C;
  color: #E1D8B7;
}
.section-four {
  background: #3A4446;
  color: #17ABB5;

}
.push {
  margin-top:50px;
}

.section-inner{
  margin:0 auto;
  position: relative;
  width:50%;
  font-size: 18px;
  margin-top:5%;
}

.tabs li {
  float: left;
  width: 33.33%;
}
.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  padding: 20px 0;
  border-bottom: 2px solid #888;
  background: #f7f7f7;
}
.tabs a:hover,
.tabs a.active {
  background: #ddd;
}
.tabgroup div {
  background: #f7f7f7;
  color: #888;
  padding: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  text-decoration: none;
  list-style-type: none;
  margin-left: -40px;
}


/* Based on: http://codepen.io/careebelle/pen/jrqoYR*/
.name {
  animation: animated-rainbow-shadow 1s infinite;
  margin-top:10%;
}

@keyframes animated-rainbow-shadow {
  0% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #3f51b5;
  }
  2% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  4% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  6% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  8% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  10% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  12% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  14% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  16% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  18% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  20% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #000, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  22% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ff5252, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #000, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  24% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ff5252, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #ffeb3b, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #000, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #3f51b5;
  }
  26% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ff5252, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #ffeb3b, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #000, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #3f51b5, 50px 50px #ff5252;
  }
  28% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ff5252, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #ffeb3b, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #000, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #3f51b5, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  30% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ff5252, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #ffeb3b, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #000, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #3f51b5, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  32% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ff5252, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #ffeb3b, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #000, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #3f51b5, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  34% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ff5252, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #ffeb3b, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #000, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #3f51b5, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  36% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ff5252, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #ffeb3b, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #000, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #3f51b5, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  38% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ff5252, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #ffeb3b, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #000, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #3f51b5, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  40% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ff5252, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #ffeb3b, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #000, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #3f51b5, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  42% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ff5252, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #ffeb3b, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #000, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #3f51b5, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  44% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ff5252, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #ffeb3b, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #000, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #3f51b5, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  46% {
    text-shadow: 0px 0px transparent, 1px 1px #ff5252, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #ffeb3b, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #000, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #3f51b5, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  48% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #ffeb3b, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #000, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #3f51b5, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ff5252;
  }
  50% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #ffeb3b, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #000, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #3f51b5, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ff5252, 50px 50px #ffeb3b;
  }
  52% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #ffeb3b, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #000, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #3f51b5, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ff5252, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  54% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #ffeb3b, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #000, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #3f51b5, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ff5252, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  56% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #ffeb3b, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #000, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #3f51b5, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ff5252, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  58% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #ffeb3b, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #000, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #3f51b5, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ff5252, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  60% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #ffeb3b, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #000, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #3f51b5, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ff5252, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  62% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #ffeb3b, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #000, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #3f51b5, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ff5252, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  64% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #ffeb3b, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #000, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #3f51b5, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ff5252, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  66% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #ffeb3b, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #000, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #3f51b5, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ff5252, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  68% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #ffeb3b, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #000, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #3f51b5, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ff5252, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  70% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #ffeb3b, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #000, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #3f51b5, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ff5252, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  72% {
    text-shadow: 0px 0px transparent, 1px 1px #ffeb3b, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #000, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #3f51b5, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ff5252, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  74% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #000, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #3f51b5, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ff5252, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #ffeb3b;
  }
  76% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #000, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #3f51b5, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ff5252, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #ffeb3b, 50px 50px #000;
  }
  78% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #3f51b5, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ff5252, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #ffeb3b, 49px 49px #000, 50px 50px #000;
  }
  80% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #3f51b5, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ff5252, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #ffeb3b, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  82% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #3f51b5, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ff5252, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #ffeb3b, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  84% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #3f51b5, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ff5252, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #ffeb3b, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  86% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #3f51b5, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ff5252, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #ffeb3b, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  88% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #3f51b5, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ff5252, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #ffeb3b, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  90% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #3f51b5, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ff5252, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #ffeb3b, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  92% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #3f51b5, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ff5252, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #ffeb3b, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  94% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #000, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #3f51b5, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ff5252, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #ffeb3b, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  96% {
    text-shadow: 0px 0px transparent, 1px 1px #000, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #3f51b5, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ff5252, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #ffeb3b, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  98% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #3f51b5, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ff5252, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #ffeb3b, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #000;
  }
  100% {
    text-shadow: 0px 0px transparent, 1px 1px #3f51b5, 2px 2px #3f51b5, 3px 3px #3f51b5, 4px 4px #3f51b5, 5px 5px #3f51b5, 6px 6px #3f51b5, 7px 7px #3f51b5, 8px 8px #3f51b5, 9px 9px #3f51b5, 10px 10px #3f51b5, 11px 11px #3f51b5, 12px 12px #3f51b5, 13px 13px #ff5252, 14px 14px #ff5252, 15px 15px #ff5252, 16px 16px #ff5252, 17px 17px #ff5252, 18px 18px #ff5252, 19px 19px #ff5252, 20px 20px #ff5252, 21px 21px #ff5252, 22px 22px #ff5252, 23px 23px #ff5252, 24px 24px #ff5252, 25px 25px #ffeb3b, 26px 26px #ffeb3b, 27px 27px #ffeb3b, 28px 28px #ffeb3b, 29px 29px #ffeb3b, 30px 30px #ffeb3b, 31px 31px #ffeb3b, 32px 32px #ffeb3b, 33px 33px #ffeb3b, 34px 34px #ffeb3b, 35px 35px #ffeb3b, 36px 36px #ffeb3b, 37px 37px #ffeb3b, 38px 38px #000, 39px 39px #000, 40px 40px #000, 41px 41px #000, 42px 42px #000, 43px 43px #000, 44px 44px #000, 45px 45px #000, 46px 46px #000, 47px 47px #000, 48px 48px #000, 49px 49px #000, 50px 50px #3f51b5;
  }
}
